# .NET
**/bin/
**/obj/
**/.vs/
*.user
*.suo

# Node / Angular
**/node_modules/
frontend/dist/
frontend/.angular/

# Env / secrets
.env
**/appsettings.*.local.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
